{% extends "layout_categories.html" %}
{% block content %}
    <h1>Catalog Anything</h1>
    <p class="important">
      Welcome to Catalog Web Application
    </p>
    <p>This project provides full stack development experienced fully.
    Backend it uses Progresql database and Python using Flask and sqlalchemy.
    </p>
    <h2>How to use</h2>
    <p>
      <ul>
        <li>Login on the top right corner with Google Account</li>
        <li>Add your own Category</li>
        <li>Add Item under the Category</li>
        <li>Deleting the Category will delete items under them</li>
        <li>Only the Owner of the Category and Item can Update or Delete</li>
      </ul>
    </p>

{% endblock %}
